$root = '../../'

.carousel
    .carousel-item > img
        // object-fit contain
        max-width 100%
        max-height 100%

    .carousel-control-prev, .carousel-control-next
        transition opacity ease 0.3s

    .carousel-control-prev-icon, .carousel-control-next-icon
        width 60px
        height 60px
    .carousel-control-prev-icon
        background-image url($root+'assets/icons/arrow-l.png')
    .carousel-control-next-icon
        background-image url($root+'assets/icons/arrow-r.png')

    .carousel-control-prev:hover > .carousel-control-prev-icon,
    .carousel-control-next:hover > .carousel-control-next-icon
        filter drop-shadow(0 0 4px #fff)

    .carousel-control-prev-icon, .carousel-control-next-icon
        transition filter ease 0.3s



.carousel.carousel-flex
    display flex
    flex-direction column

    .carousel-inner
        display flex
        flex 1 1 auto

    .carousel-item
        // display flex
        flex-direction column
        flex 1 1 auto

    .carousel-item.active
        display flex

    .carousel-item-next, .carousel-item-prev
        display flex
        min-height 100%
