div#shop.content
    header.container: .row: .col.text-center
        h1 Магазин
        
    header.sticky.container: .row
        .col.text-right
            router-link.btn.sky-btn.btn-primary(:to="{name: 'charge'}") Пополнить

    main.container
                
