div#reset.content
    main.container.mt-4
        .row.justify-content-center: .card.col-6: .card-body
            //- div(v-if="status === 'pending'")
                .form-group
                    .form-text Одно мгновение...
                
            form#auth.my-0(@submit="reset" v-if="!status")
                h3.mb-4.text-center Сброс
                .form-group
                    input.form-control(name="password" type="password" placeholder="Пароль"
                        v-model="userData.password" required
                        :class="{'is-invalid': status && valid.password===false}"
                        @focus="flushError"
                    )
                    small.invalid-feedback(v-if="messages.includes('ERR_PASSWORD_TOO_SHORT')") Да-да, здесь тоже не меньше 6 символов!

                .form-group
                    input.form-control(name="password2" type="password" placeholder="Пароль"
                        v-model="userData.password2" required
                        :class="{'is-invalid': status && valid.password2===false}"
                        @focus="flushError"
                    )
                    small.invalid-feedback(v-if="messages.includes('ERR_PASSWORDS_MISMATCH')") Пароли не совпадают
                
                button.btn.btn-primary(type="submit" style="width: 100%;" :disabled="formDisabled") Войти

            div(v-if="status === 'invalidToken'")
                h3.mb-4.text-center Ошибка
                .form-group
                    .form-text Ссылка не действительна. Скорее всего, пароль уже был изменён.
                
                router-link.btn.btn-info(:to="{name: 'login'}" style="width: 100%;") Назад ко входу
                
