nav#navbar.navbar.navbar-expand-sm
    .container
        router-link.navbar-brand.d-none.d-lg-block(:to="{name: 'main'}")
            //- img(src=require("assets/logo/logo-white.png"))
            
        ul.col.navbar-nav.font-header 
            li.nav-item(v-for="item in menu")
                a.nav-link.text-uppercase.text-center(v-if="item.url" :data-route-name="item.name" :href="item.url" :disabled="item.enabled==false")
                    .position-relative
                        span {{item.title}}
                        starline
                        //- svg.starline.animated(role="starline")
                            polyline(stroke="#fff" stroke-width="2" fill="none")
                        
                router-link.nav-link.text-uppercase.text-center(v-else :to="{name: item.name}")
                    .position-relative
                        span {{item.title}}
                        starline
                        //- svg.starline.animated(role="starline")
                            polyline(stroke="#fff" stroke-width="2" fill="none")
        
