div#profile.content
    header Hello

    main.container.mt-4
        .row.justify-content-center: .card.col-6: .card-body
            h3.text-center Профиль
            form.mt-4.mb-0
                .form-group.mb-0
                    .form-text.text-center Имя {{$root.user.username}}
            
