div#profile.content
    main.container
        .row: .col
            h2.bg-clip-text.mb-4.float-right Добро пожаловать, {{$store.state.user.username}}!
            
        .row
            .col-12.col-lg-8.offset-xl-1.col-xl-7
                .panel.border-grad-down
                    h3.border-grad-right: span.bg-clip-text Информация о персонаже
                    .panel-section.panel-character-empty(v-if="characters.length < $store.state.user.charactersMax"): .row.text-center
                        .btn.add.animated.offset-1.col-10.d-flex.flex-row.align-items-center(@click="modalCharacterOpen")
                            .btn-icon: i.fa.fa-plus
                            .btn-text Создать персонажа
                        
                    .panel-section.panel-character(v-if="characters.length")
                        ul.mb-0: li(v-for="item in characters"): .row.justify-content-center.text-center.py-3
                            .col-2(v-if="item.rank")
                                span {{item.rank}}
                                img(src=require('./assets/rank-bg.png'))
                                
                            .col-7.character-info(:class="{'col-10': !item.rank && !item.faction}")
                                div {{item.name}}
                                div(v-if="item.race") {{item.race | race}}
                                div <span class="aniron-number">{{item.level || 1}}</span> Уровень
                                //- div
                                    span.aniron-number 1
                                    span  Уровень
                                div
                                    span В SkyMP с
                                    span.aniron-number  {{item.createdAt | date}}
                                    
                            .col-2(v-if="item.faction")
                                span {{item.faction}}
                                img(src=require('./assets/faction-bg.png'))
                                
                        
                    h3.border-grad-right: span.bg-clip-text Безопасность аккаунта
                    .panel-section.panel-account.text-center
                        div: a.panel-link(href="#" @click.prevent="notifySoon" disabled) Изменить пароль
                        div: a.panel-link(href="#" @click.prevent="notifySoon" disabled) Привязать ВКонтакте
                    //- h3.border-grad-right: span.bg-clip-text Обратиться в поддержку
            
                .buttons.text-center.my-4
                    button.sky-btn.btn-info(@click="logout" style="width: 33%") Выход
            
            .col-12.col-lg-4.offset-xl-1.col-xl-3.order-first.order-lg-last
                aside.character-info(v-if="character")
                    div.text-center: img(:src="character.photo")
                    div.info-field.text-center.bg-grad-center.border-grad-center {{character.money}} септимов
                    div.info-field.text-center.bg-grad-center.border-grad-center {{$store.state.user.skyPoints}} SkyPoints
                    div.info-field.text-center.bg-grad-center.border-grad-center Репутация: {{character.reputation}}
            
            
    // modals
    b-modal.sky-modal(v-model="modalCharacter.opened" title="Создание персонажа" centered @shown="modalCharacterShown")
        form(@submit.prevent="createCharacter")
            b-alert(:show="!modalCharacter.data.server" variant="danger") Что-то пошло не так и у меня не получилось загрузить параметры сервера. :с
            .form-group
                label.sky-label.small
                    | Имя: 
                    span(v-if="correctName && correctName !== modalCharacter.data.name") (Будет заменено на "{{correctName}}")
                input.sky-input.form-control(name="name" placeholder="Имя"
                    v-model="modalCharacter.data.name"
                    v-validate="{required:true, min:2, max:24, regex: /^[a-z]+[ \'-]?[a-z]+$/i}"
                    :class="{'is-invalid': errors.has('name')}"
                    required
                )
                small.invalid-feedback(v-if="errors.has('name')")
                    div(v-if="errors.first('name:unique')") Имя уже занято
                
                small.name-rules
                    div Имя должно быть:
                    ul
                        li(:class="{'text-success': !errors.has('name:min') && !errors.has('name:max')}") - от 2 до 24 символов
                        li(:class="{'text-success': !errors.has('name:regex')}")
                            | - написано латинскими буквами. Допустимо использовать не более одного пробела, апострофа 
                            b или 
                            | дефиса в середине
                    
        template(slot="modal-footer")
            button.sky-btn.btn.btn-primary.col-5(@click="createCharacter") Создать
            button.sky-btn.btn.btn-primary.col-5(@click="modalCharacter.opened = false") Отмена
