div#profile.content
    main.container
        .row: .col
            h2.bg-clip-text.mb-4.float-right Добро пожаловать, {{$root.user.username}}!
            
        .row
            .col-12.col-lg-8.offset-xl-1.col-xl-7
                .panel.border-grad-down
                    h3.border-grad-right: span.bg-clip-text Информация о персонаже
                    .panel-section.panel-character-empty(v-if="!$root.user.characters.length"): .row.text-center
                        .btn.add.animated.offset-1.col-10.d-flex.flex-row.align-items-center(@click="modalCharacterOpen")
                            .btn-icon: i.fa.fa-plus
                            .btn-text Создать персонажа
                        
                    .panel-section.panel-character(v-if="$root.user.characters.length"): .row.text-center
                        .offset-1.col-2 x x x x x x x x x x x x x x x x x x x x x x x
                        .col-6 xxx xxx xxx xxx xxx
                        .col-2 x x x x x x x x x x x x x x x x x x x x x x x x x x x x
                        
                    h3.border-grad-right: span.bg-clip-text Безопасность аккаунта
                    .panel-section.panel-account
                        .panel-link.text-center Изменить пароль
                        .panel-link.text-center Привязать ВКонтакте
                    //- h3.border-grad-right: span.bg-clip-text Обратиться в поддержку
            
            .col-12.col-lg-4.offset-xl-1.col-xl-3.order-first.order-lg-last
                aside.character-info(v-if="character")
                    div.text-center: img(:src="character.photo")
                    div.info-field.text-center.bg-grad-center.border-grad-center {{character.money}} септимов
                    div.info-field.text-center.bg-grad-center.border-grad-center {{$root.user.skyPoints}} SkyPoints
                    div.info-field.text-center.bg-grad-center.border-grad-center Репутация: {{character.reputation}}
            
            
    // modals
    b-modal.sky-modal(v-model="modalCharacter.opened" title="Создание персонажа" centered @shown="modalCharacterShown")
        form(@submit.prevent="createCharacter")
            .form-group
                label.sky-label.small
                    | Имя: 
                    span(v-if="correctName && correctName !== modalCharacter.data.name") (Будет заменено на "{{correctName}}")
                input.sky-input.form-control(name="name" placeholder="Имя"
                    v-model="modalCharacter.data.name"
                    v-validate="{required:true, min:2, max:24, regex: /^[a-z]+[ \'-]?[a-z]+$/i}"
                    :class="{'is-invalid': errors.has('name')}"
                    required
                )
                small.text-warning(v-if="!modalCharacter.data.server") Сервер не выбран
                small.invalid-feedback(v-if="errors.has('name')")
                    div(v-if="errors.first('name:unique')") Имя уже занято
                
                small.name-rules
                    div Имя должно быть:
                    ul
                        li(:class="{'text-success': !errors.has('name:min') && !errors.has('name:max')}") - от 2 до 24 символов
                        li(:class="{'text-success': !errors.has('name:regex')}")
                            | - написано латинскими буквами. Допустимо использовать не более одного пробела, апострофа 
                            b или 
                            | дефиса в середине
                    
        template(slot="modal-footer")
            button.sky-btn.btn.btn-primary.col-5(@click="createCharacter") Создать
            button.sky-btn.btn.btn-primary.col-5(@click="modalCharacter.opened = false") Отмена
