$root = "../../../"
@require $root+"app/components/elevation/mixin.styl"

#charge
    color black

    a:hover
        text-decoration none

    .charge-item
        display block
        box-shadow 1px 2px 15px 1px rgba(#fff, 0.5)
        // elevation(8, #fff)
        elevationTransition()

        &:hover
            box-shadow 1px 4px 20px 2px rgba(#fff, 0.7)
            // elevation(11, #fff)
