div#charge.content
    header.container: .row: .col.text-center
        h1 Пополнение счёта

    main.container
        .row.justify-content-center
            .col-3
                a.charge-item(:href="'/payment/create/0.01' | apiUrl" target="_blank")
                    b-card.sky-card.text-center
                        h4 100 SkyPoints
                        h5 100 рублей
            .col-3
                a.charge-item(:href="'/payment/create/0.03' | apiUrl" target="_blank")
                    b-card.sky-card.text-center
                        h4 300 SkyPoints
                        h5 300 рублей
            .col-3
                a.charge-item(:href="'/payment/create/0.05' | apiUrl" target="_blank")
                    b-card.sky-card.text-center
                        h4 500 SkyPoints
                        h5 500 рублей
                    
        .row.justify-content-center.mt-4
            .col-6
                b-card.sky-card(title="Другая сумма")
                    form.form-group.d-flex(@submit.prevent="onSubmit")
                        currency-input.form-control.sky-input(v-model="chargeAmount")
                        //- input.form-control.sky-input(v-model="chargeAmount")
                        a.btn.sky-btn.btn-primary#charge-amount-link(:href="'/payment/create/'+chargeAmount | apiUrl" target="_blank") Пополнить
                        
                    .form-group.pl-2
                        span {{chargeAmount}}
                        span  рублей
                    //- h3.sky-header Другая сумма
