section#fractions
    background-image url($root+'assets/images/bg-fractions.png')

    .section-header
        font-size 75px // 79
        line-height 2em
        filter drop-shadow(1px 2px 3px #000)

        & > h2
            background-image linear-gradient(to top, #e5c35a 0%, #fff 100%)
            font-size inherit
            line-height inherit

        & > i.icon
            display inline-block
            height 2em
            width 1em
            background-image linear-gradient(to top, #e5c35a 0%, #fff 100%)
            -webkit-mask-image url('./assets/icons/speech.svg')
            -webkit-mask-repeat no-repeat
            -webkit-mask-size cover
            mask-image url('./assets/icons/speech.svg')
            mask-repeat no-repeat
            mask-size cover

            &:last-child
                width 1.2em
                -webkit-mask-position right

    .text-1
        color #000
        font-family Aniron
        font-size 27px
        font-weight bold
        line-height 38.96px
        text-shadow 0 0 4px #fff
        letter-spacing -2px

    h3
        color #ffffff
        font-family "Trajan Pro 3"
        font-size 50px
        font-weight bold
        line-height 46.96px
        letter-spacing -3.02px
        text-shadow 4px 3px 0 #000

    .line
        height 5px
        background-image linear-gradient(to right, rgba(yellow, 0) 10%, rgba(yellow, 0.9) 50%, rgba(yellow, 0) 90%)
        box-shadow 4px 3px 4px 1px rgba(0, 0, 0, 0.5)
        margin 4rem 0

    .guilds-neutral
        .guild:hover
            cursor pointer

            & > .guild-icon
                filter drop-shadow(0 0 7px #fff) drop-shadow(0 0 7px #fff)
