if !data
    - var data = require('../_data');
    
section#war.section.py-2: .container
    .section-inner
        div.row.justify-content-center
            .col-5.section-header-left
                h2.section-header.bg-clip-text.text-center Империя
            .col-1.text-center X
            .col-5.section-header-right
                h2.section-header.bg-clip-text.text-center Братья Бури
            
        div.row.row-ranks.justify-content-center
            .col.col-lg-4.ranks-left.text-right
                ul
                    li Король
                    li Генерал
                    li Управитель
                    li Хускарл
                    li Придворный маг
                    li Легат
                    li Префект
                    li Квестор
                    li Легионер
                    li Стражник
                    li Рекрут
            .col-1
            .col.col-lg-4.ranks-right.text-left
                ul
                    li Король
                    li Военачальник
                    li Управитель
                    li Хускарл
                    li Придворный маг
                    li Клинок Бури
                    li Снежный молот
                    li Костолом
                    li Ледяные жилы
                    li Стражник
                    li Рекрут
