section#war
    background-image url($root+'assets/images/bg-war.png')

    .section-header
        font-size 58px
        font-weight bold
        line-height 86.57px
        // Text style for "Империя"
        letter-spacing -1.31px
        margin-bottom 0

    .section-header-left
        border 0 solid
        border-width 3px 0
        border-image linear-gradient(to left, rgba(black, 0) 0%, rgba(black, 1) 10%, rgba(black, 1) 50%, rgba(black, 0) 100%) 1

    .section-header-right
        border 0 solid
        border-width 3px 0
        border-image linear-gradient(to right, rgba(black, 0) 0%, rgba(black, 1) 10%, rgba(black, 1) 50%, rgba(black, 0) 100%) 1


    .row-ranks
        margin-top -3px

    .ranks-left, .ranks-right
        color #f6f2e5
        font-family "Trajan Pro 3"
        font-size 27px
        font-weight bold
        line-height 64.2px
        letter-spacing -0.82px
        text-shadow 2px 3px 3px #000

    .ranks-left
        border 0 solid
        border-width 3px 3px 0 0
        border-image radial-gradient(circle 300px at right top, rgba(black, 1) 0%, rgba(black, 0) 100%) 1
        background-image radial-gradient(ellipse at right top, rgba(#614544, 0.7) 0%, rgba(#614544, 0) 73%)

    .ranks-right
        border 0 solid
        border-width 3px 0 0 3px
        border-image radial-gradient(circle 300px at left top, rgba(black, 1) 0%, rgba(black, 0) 100%) 1
        background-image radial-gradient(ellipse at left top, rgba(#576576, 0.7) 0%, rgba(#576576, 0) 73%)
