form#login.my-0(@submit.prevent="login")
    .form-group
        input.form-control.sky-input(name="username" placeholder="Логин / почта"
            v-model="userData.username" required
            v-validate="'required'"
            :class="{'is-invalid': errors.has('username')}"
            @focus="flushErrors('username')"
        )
        small.invalid-feedback(v-if="errors.has('username')")
            div(v-if="errors.first('username:incorrect')") Такого пользователя не существует
        
    .form-group
        input.form-control.sky-input(name="password" type="password" placeholder="Пароль"
            v-model="userData.password" required
            v-validate="'required'"
            :class="{'is-invalid': errors.has('password')}"
            @focus="flushErrors('password')"
        )
        small.invalid-feedback(v-if="errors.has('password')")
            div(v-if="errors.first('password:incorrect')") Неправильный пароль
    
    .buttons.text-center
        button.sky-btn.btn-primary(type="submit" style="min-width: 50%;" :disabled="formDisabled") Войти
    
    div.text-center.mt-2
        button.sky-btn.btn-info.small(@click.prevent="forgotPassword") Забыл пароль
